// Contact page

.header-call {
  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
  p {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
}

.main {
  &-header {
    margin-bottom: 0.5rem;
  }
  &-detail {
    width: 1.5%;
    height: auto;
    display: inline-block;
  }

  &-title {
    display: inline;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }
  .wpp-icon {
    text-align: center;
    margin: 1rem 0;
    i {
      color: #202020;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    input[type="text"] {
      width: 300px;
      font-size: 1rem;
      font-weight: 500;
      font-family: "bilo", sans-serif;
      color: #3c2c26;
      height: 2rem;
      border: none;
      border-bottom: solid 1px #3c2c26;
      margin: 0.5rem auto;
      display: flex;
      flex-direction: column;
      outline: none;

      &::placeholder {
        color: #3c2c26;
        font-size: 1rem;
      }

      &:focus {
        border-bottom: 2px solid #3c2c26;
      }
    }

    textarea {
      width: 300px;
      font-size: 1rem;
      font-weight: 500;
      font-family: "bilo", sans-serif;
      color: #3c2c26;
      height: 8rem;
      border: none;
      border-bottom: solid 1px #3c2c26;
      margin: 0.5rem auto;
      outline: none;
      &::placeholder {
        color: #3c2c26;
        font-size: 1rem;
      }
      &:focus {
        border-bottom: 2px solid #3c2c26;
      }
    }
    button {
      display: block;
      margin: 0.5rem auto;
      font-size: 1rem;
      font-family: "bilo", sans-serif;
      text-transform: uppercase;
      color: #fff;
      padding: 0.4rem 2rem;
      background: #bc592c;
      border: none;
      outline: 0;
      transition: all 0.6s;

      &:hover {
        background: #7a3515;
      }
    }
  }
}
